.flavanoids-table {
  text-align: center;
  width: 600px;
  border-collapse: collapse;
  margin: 20px 0;
}
.container{
  display: flex;
  justify-content: center
}

.flavanoids-table th, .flavanoids-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.flavanoids-table th {
  background-color: #f2f2f2;
}